h1 {
    font-family: "Shrikhand";
    font-size: 100px;
    color: transparent;
    text-align: center;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: rgb(255, 223, 223);
    text-shadow: -4px 4px #ef3550,
                 -8px 8px #f48fb1,
                 -12px 12px #7e57c2,
                 -16px 16px #2196f3,
                 -20px 20px #26c6da,
                 -24px 24px #43a047,
                 -28px 28px #eeff41,
                 -32px 32px #f9a825,
                 -36px 36px #ff5722;
}

#player {
    display: flex;
    justify-content: center;
    align-content: center;
}

iframe {
    margin: 30px;
    
}